sudo: required
dist: xenial
language: generic
compiler:
  - gcc
notifications:
  email:
    on_success: change
    on_failure: always
env:
  global:
    - UPSTREAM_WORKSPACE=file
  matrix:
    - USE_DEB=true  ROS_DISTRO="indigo" ROS_REPOSITORY_PATH=http://packages.ros.org/ros/ubuntu
    - USE_DEB=true  ROS_DISTRO="kinetic"   ROS_REPOSITORY_PATH=http://packages.ros.org/ros/ubuntu
install:
  - git clone https://github.com/ros-industrial/industrial_ci.git .ci_config
script:
  - source .ci_config/travis.sh
#  - source ./travis.sh  # Enable this when you have a package-local script
